# Ignore dataset and large files
Dataset/
feedback/*
feedback/confirmed/*
output_result.mp4
output_detected_image.jpg
perspective_matrix.npy
warped_cropped_roi.png
Models/yolov5/
virenv/
__pycache__/
